@import url("https://fonts.googleapis.com/css2?family=Parisienne");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker");

@font-face {
    font-family:"Parisienne";
    src: url("Parisienne.woff2");
    
}
@font-face {
    font-family: "Permanent";
    src: url("Permanent.woff2");
}




body{
    align-items: center;
    background-image: url(img/wallhaven-q2l83l.jpg);
    image-rendering: center;
    background-position: center;
    max-width: 100%;
    background-repeat: no-repeat;
    
    
}

h1{
    color: #F1F1F1;
    padding: 20px;
    padding-top: 210px;
    
}

h3{
    color: #F1F1F1;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 15px;
    padding-top: 20px;
}


h4{
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
   align-self: center;
}

.container{
    color: white;
}
a{
    color:#fff

}

@media screen and (max-width: 800px) {




    body {
        background-image: url(img/wallhaven-289j79.jpg);
    
    }
    h1{
        font-family: Permanent; 
        text-align: center;
        font-size: 100%;
    }
    

    

    
}
